# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Output files
output/
vis/
*.xlsx
examples/output/ 